.gadget-box {
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  box-sizing: border-box;
}

.gadget {
  width: 100%;
  box-sizing: border-box;
}

.gadget img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .gadget-box {
    width: 48%;
  }
}
