.login-signin-button {
    margin-left: auto; 
    display: flex; 
    align-items: right;
}

.login-signin-button a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}
